extends  ../_skeleton

//- Includes
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-parallax
include ../elements/_ui-thumbnail-classic-minimal
include ../elements/_ui-portfolio-item

block variables
	- var codedBy = true
	- var activeIndex = 0
	- var pageName = 'Home'

block page
	include ../sections/_header-minimal 
	+parallax({
		src: "images/bg-image-1.jpg",
		class: 'section-lg parallax-content-1 text-center text-md-left'
	})
		.container: .row.row-50.align-items-center.justify-content-center.justify-content-md-between
			.col-md-6.col-lg-5
				h3 Leading provider of top-notch SEO solutions
				p.text-width-small Since 1999, SEOBIZ has been offering quality SEO services to individual and corporate customers worldwide. We guarantee that people will find your website on the Web!
				a.button.button-primary(href='#') Learn More
			.col-sm-10.col-md-6
				.box-form-1
					h5 Register now to get a free website SEO analysis
					// RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-20.gutters-30
							.col-xl-6: .form-wrap.form-wrap_icon.linear-icon-man
								input#contact-name-3.form-input(type="text" name="name" data-constraints='@Required')
								label.form-label(for="contact-name-3") Your name

							.col-xl-6: .form-wrap.form-wrap_icon.linear-icon-envelope
								input#contact-email-4.form-input(type="email" name="email" data-constraints="@Email @Required")
								label.form-label(for="contact-email-4") Your e-mail

							.col-xl-6: .form-wrap.form-wrap_icon.linear-icon-planet
								input#contact-site-4.form-input(type="text" name="text" data-constraints="@Required")
								label.form-label(for="contact-site-4") Your website

							.col-xl-6
								.form-wrap.form-wrap_icon.linear-icon-phone
									input#contact-phone-4.form-input(type="text" name="phone" data-constraints="@Numeric")
									label.form-label(for="contact-phone-4") Phone number

						button(type="submit").button.button-primary Send
	='\n'

	// Our Services
	section.section-md.bg-default.text-center
		.container-fluid
			.row.row-50.justify-content-md-center.justify-content-lg-start
				.col-sm-6.col-lg-3
					// Blurb circle
					article.blurb.blurb-minimal: .unit.flex-column.unit-spacing-md
						.unit-left
							span.blurb-minimal__icon.icon.linear-icon-feather
						.unit-body
							p.blurb__title: a(href='#').heading-6 Individual Approach
							p Unlike many other companies, we use an individual approach to each client.

				.col-sm-6.col-lg-3
					// Blurb circle
					article.blurb.blurb-minimal: .unit.flex-column.unit-spacing-md
						.unit-left
							span.blurb-minimal__icon.icon.linear-icon-magic-wand
						.unit-body
							p.blurb__title: a(href='#').heading-6 Qualified Employees
							p SEOBIZ is a team of dedicated and qualified promotion and online marketing experts.

				.col-sm-6.col-lg-3
					// Blurb circle
					article.blurb.blurb-minimal: .unit.flex-column.unit-spacing-md
						.unit-left
							span.blurb-minimal__icon.icon.linear-icon-bag2
						.unit-body
							p.blurb__title: a(href='#').heading-6 24/7 Support
							p Our dedicated online support is available 24/7 to answer your every question and help you.
							
				.col-sm-6.col-lg-3
					// Blurb circle
					article.blurb.blurb-minimal: .unit.flex-column.unit-spacing-md
						.unit-left
							span.blurb-minimal__icon.icon.linear-icon-bag2
						.unit-body
							p.blurb__title: a(href='#').heading-6 Payment Methods
							p We provide a variety of payment methods that include Paypal, Visa, and Mastercard.
	='\n'

	// About us
	section#about.bg-gray-lighter.object-wrap
		.section-lg
			.container
				.row.justify-content-end
					.col-md-6.col-lg-5
						h4.heading-decorated About Us
						p Our team of specialists consistently delivers outstanding results combining creative ideas with our vast experience. We can help you build a sustainable, meaningful relationship with your clients by engaging them with your brand using social media. With our help, you can use the power of the Web for your benefit.
						+progress-bar-linear({
							progressStyle: 'progress-linear-primary',
							title: "Search Engine Optimization",
							valueTo: "49"
						})

						+progress-bar-linear({
							progressStyle: 'progress-linear-primary',
							title: "Social Media Management",
							valueTo: "29"
						})

						+progress-bar-linear({
							progressStyle: 'progress-linear-primary',
							title: "Branding",
							valueTo: "86"
						})

		.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-left.bg-image(style='background-image: url(images/bg-image-2.jpg)')
	='\n'

	// portfolio
	section#gallery.section-md.bg-default.text-center
		h4.heading-decorated Our Gallery
		.container-fluid.container-inset-0
			.isotope-wrap.row
				.col-sm-12(data-lightgallery='group')
					.isotope.row(data-isotope-layout='fitRows', data-isotope-group='gallery')
						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 1')
							+portfolio-item({
								single_img: true,
								original: 'gallery-1-1200x800-original',
								img: 'gallery-1-420x315',
								title: 'Photo #1',
								text: 'Providing quality SEO services.'
							})
							
						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 1')
							+portfolio-item({
								single_img: true,
								original: 'gallery-2-1200x800-original',
								img: 'gallery-2-420x315',
								title: 'Photo #2',
								text: 'Providing quality SEO services.'
							})

						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 1')
							+portfolio-item({
								single_img: true,
								original: 'gallery-3-1200x800-original',
								img: 'gallery-3-420x315',
								title: 'Photo #3',
								text: 'Providing quality SEO services.'
							})

						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 2')
							+portfolio-item({
								single_img: true,
								original: 'gallery-4-1200x800-original',
								img: 'gallery-4-420x315',
								title: 'Photo #4',
								text: 'Providing quality SEO services.'
							})

						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 2')
							+portfolio-item({
								single_img: true,
								original: 'gallery-5-1200x800-original',
								img: 'gallery-5-420x315',
								title: 'Photo #5',
								text: 'Providing quality SEO services.'
							})

						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 2')
							+portfolio-item({
								single_img: true,
								original: 'gallery-6-1200x800-original',
								img: 'gallery-6-420x315',
								title: 'Photo #6',
								text: 'Providing quality SEO services.'
							})

						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 2')
							+portfolio-item({
								single_img: true,
								original: 'gallery-7-1200x800-original',
								img: 'gallery-7-420x315',
								title: 'Photo #7',
								text: 'Providing quality SEO services.'
							})
							
						.col-12.col-sm-6.col-lg-4.col-xl-3.isotope-item(data-filter='Category 2')
							+portfolio-item({
								single_img: true,
								original: 'gallery-8-1200x800-original',
								img: 'gallery-8-420x315',
								title: 'Photo #8',
								text: 'Providing quality SEO services.'
							})
	='\n'

	section.section-lg.bg-image.text-center.bg-accent.bg-overlay-dark(style='background-image: url(images/bg-image-3.jpg)')
		.container
			.row.justify-content-sm-center.row-60
				.col-md-4.col-xl-3
					// Circle Progress Bar
					.progress-bar-circle(data-value="0.45", data-gradient="#f2d843, #f2a443", data-empty-fill="#fff", data-size="141", data-thickness="5")
						span
					.progress-bar-circle-title Leadership
				.col-md-4.col-xl-3
					// Circle Progress Bar
					.progress-bar-circle(data-value="0.60", data-gradient="#f2d843, #f2a443", data-empty-fill="#fff", data-size="141", data-thickness="5")
						span
					.progress-bar-circle-title Innovations
				.col-md-4.col-xl-3
					// Circle Progress Bar
					.progress-bar-circle(data-value="0.80", data-gradient="#f2d843, #f2a443", data-empty-fill="#fff", data-size="141", data-thickness="5")
						span
					.progress-bar-circle-title Experience
	='\n'

	// Meet Our Team
	section#team.section-lg.bg-default.text-center
		.container
			.row.justify-content-xl-center.row-50
				.col-xl-9
					h4.heading-decorated Our Team
					p We are experts in SEO and digital marketing. We are a team of enthusiastic, creative, and market-savvy professionals who work collaboratively to achieve your goals and build viable, quantitative results.
			.row.row-50
				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-1-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) Samantha King
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})

				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-2-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) Taylor Wilson
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})


				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-3-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) George Nelson
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})

				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-4-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) Barbara Young
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})

				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-5-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) Bryan Thompson
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})

				.col-sm-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-nancy
						+jpg('team-6-420x315')

						.thumb-nancy-caption
							p.heading-5.thumb-nancy-title: a(href=teamMember) Paul Walker
							+list-inline-icon({
								list_class: ['thumb-nancy-list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-instagram',
									'icon-sm fa-youtube'
								]
							})
	='\n'

	// Call to Action
	section.section.section-sm.context-dark.bg-accent.section-cta
		.container
			.row.row-50.align-items-center.justify-content-center.justify-content-xl-between
				.col-xl-8.text-xl-left
					h4
						span.font-weight-bold SEOBIZ
						span.font-weight-normal is ready to work on your website’s SEO
					p We know how to attract more visitors to your website.
				.col-xl-2.text-xl-right
					a.button.button-primary(href='#') Get Started
	='\n'
		
	section#services.section.section-md.bg-default.text-center
		.container
			h4.heading-decorated Services
			.row.row-50
				.col-sm-6.col-lg-3
					+thumbnail-classic-minimal({
						img: 'services-1-300x225',
						link: '#',
						title: 'SEO',
						text: 'SEO is the process of affecting the visibility of a website in the relevant search results.'
					})
				.col-sm-6.col-lg-3
					+thumbnail-classic-minimal({
						img: 'services-2-300x225',
						link: '#',
						title: 'Email Marketing',
						text: 'Email marketing provides an effective connection with your targeted audience.'
					})
				.col-sm-6.col-lg-3
					+thumbnail-classic-minimal({
						img: 'services-3-300x225',
						link: '#',
						title: 'SMM',
						text: 'SMM solutions can help you effectively manage outbound and incoming online interactions.'
					})
				.col-sm-6.col-lg-3
					+thumbnail-classic-minimal({
						img: 'services-4-300x225',
						link: '#',
						title: 'Brand Management',
						text: 'Brand management refers to influencing and controlling a business reputation.'
					})
	='\n'

	// get a quote
	section.bg-gray-lighter.object-wrap
		.section-lg: .container: .row: .col-md-6.col-lg-5
			h4.heading-decorated Get a Quote
			// RD Mailform
			form.rd-mailform.rd-mailform_style-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
				.form-wrap
					input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
					label.form-label(for="contact-name") Your name

				.form-wrap
					input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
					label.form-label(for="contact-email") Your e-mail

				.form-wrap
					textarea#contact-message.form-input(name="message" data-constraints="@Required")
					label.form-label(for="contact-message") Your message

				button(type="submit").button.button-primary Send

		.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-right.bg-image(style='background-image: url(images/bg-image-4.jpg)')
	='\n'
		
	section#clients.section-md.text-center.bg-default
		.container
			h4.heading-decorated Our Clients
			.row.row-30
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-1-126x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-2-134x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-3-132x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-4-126x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-5-138x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-6-143x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-7-109x102')
				.col-sm-6.col-md-4.col-lg-3: a.box-icon-image(href='#'): +png('company-8-109x102')
	='\n'

	// Call to Action
	section#contacts.section-sm.bg-accent.text-center
		.container
			.row.row-50.align-items-center.justify-content-center.justify-content-xl-between
				.col-xl-8.text-xl-left
					h4.heading-decoratedIf We are always ready to help you increase and improve your website rankings.
				.col-xl-2.text-xl-right
					a.button.button-primary(href='#', data-toggle='modal', data-target='#modalContacts') Contact Us
	='\n'

	// Page Footer 
	include ../sections/_footer-minimal
		
block modals
	#modalContacts.modal.fade(role='dialog')
		.modal-dialog.modal-dialog_custom
			// Modal content
			.modal-dialog__inner
				button.close(type='button', data-dismiss='modal')
				.modal-dialog__content
					h5 Get in Touch
					// RD Mailform
					form.rd-mailform.rd-mailform_style-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.form-wrap.form-wrap_icon.linear-icon-man
							input#contact-name-2.form-input(type="text" name="name" data-constraints='@Required')
							label.form-label(for="contact-name-2") Your name

						.form-wrap.form-wrap_icon.linear-icon-envelope
							input#contact-email-2.form-input(type="email" name="email" data-constraints="@Email @Required")
							label.form-label(for="contact-email-2") Your e-mail

						.form-wrap.form-wrap_icon.linear-icon-feather
							textarea#contact-message-3.form-input(name="message" data-constraints="@Required")
							label.form-label(for="contact-message-3") Your message

						button(type="submit").button.button-primary send
